{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container row">
        <h1 class="indigo-text">Welcome</h1>
        <div class="card-panel white">
            <p>
                Hi, I'm Tom Wildenhain, an undergraduate studying Computer Science at Carnegie Mellon University.
                In addition to Computer Science, I also love Mathematics and Physics.  In my free time, I watch physics
                videos on YouTube, write puzzles for <a href="https://puzzlehunt.club.cc.cmu.edu/">CMU Puzzle Hunt</a>,
                and work on random CS projects.
            </p>
            <p>
                Probably the best way to get to know me is to check out some of the things I've made, which you can find
                <a href="./projects.html">here</a>.
            </p>
            <a class="waves-effect waves-light btn blue" href="./projects.html">Projects</a>
            <a class="waves-effect waves-light btn green accent-4" href="https://github.com/TomWildenhain" target="_blank">GitHub</a>
            <a class="waves-effect waves-light btn indigo darken-2" href="https://devpost.com/twildenh" target="_blank">Devpost</a>
            <a class="waves-effect waves-light btn red" href="./static/resume.pdf" target="_blank">Resume PDF</a>
            <p><img src="{% static "address-black.png" %}" class="address-img" /></p>
            <p>
                Here are some videos of what I've made (also featured on the <a href="./projects.html">projects</a> page).
            </p>
            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/B5ipEWT4N7M" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sdkxWqsk17c" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TrNT4A1_Mjo" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/LQ1Xj1MmOus" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/g9U9WKgqPLQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HrJUnuksJuQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br />
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fVSVYl8cuxQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}