{% extends "base.html" %}
{% load static %}
{% block content %}
    {% autoescape off %}
        <div class="container row">
            <h1 class="indigo-text">{% block title %}Resume{% endblock %}</h1>
            <a class="waves-effect waves-light btn red project-date" href="./static/resume.pdf" target="_blank">Download PDF</a>
            <div class="card-panel white">
                <h2 class="indigo-text">Education</h2>
                {% for edu in education %}
                    <h3 class="project-header">{{ edu.institution_name }}</h3>
                    <div class="project-date">{{ edu.location }}</div>
                    {% if edu.degree_title %}
                        <p>{{ edu.degree_title }}</p>
                    {% endif %}
                    <p>
                    <div class="lang-tag">Honors:</div>
                    {% for honor in edu.honor_set.all %}
                        {{ honor.honor_name }}
                        {% if not forloop.last %}
                            &#8226;
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endfor %}
            </div>
            <div class="card-panel white">
                <h2 class="indigo-text">Experience</h2>
                {% for exp in experience %}
                    <h3 class="project-header">{{ exp.position_title }}</h3>
                    <div class="project-date">{{ exp.organization_name }}
                        {% if exp.start_date %}
                            ({{ exp.start_date }}{% if exp.end_date %} - {{ exp.end_date }}{% endif %})
                        {% endif %}
                    </div>
                    <ul class="browser-default">
                        {% for desc in exp.experiencedescription_set.all %}
                            <li>{{ desc.description }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="card-panel white">
                <h2 class="indigo-text">Projects</h2>
                {% for project in projects %}
                    <h3 class="project-header">{{ project.project_title }}</h3>
                    {% if project.collaborators or project.start_date %}
                        <div class="project-date">
                            {% if project.collaborators %}
                                {{ project.collaborators }}
                            {% endif %}
                            {% if project.start_date %}
                                ({{ project.start_date }}{% if project.end_date %} - {{ project.end_date }}{% endif %})
                            {% endif %}
                        </div>
                    {% endif %}
                    <ul class="browser-default">
                        {% for desc in project.projectdescription_set.all %}
                            <li>{{ desc.description }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="card-panel white">
                <h2 class="indigo-text">Skills</h2>
                {% for skill in skills %}
                    <div class="lang-tag">{{ skill.skill_title }}</div>
                {% endfor %}
            </div>
        </div>
    {% endautoescape %}
{% endblock %}